N8N JSON/Mentor-Dispatch.json
{
  "name": "Mentor-Dispatch",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mentor-dispatch",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "9246285b-191e-4b5b-82d1-d802e21accfa",
      "name": "Webhook",
      "webhookId": "3326cda4-95de-4e57-a71e-4f1bfd0a4247"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0b37262-e231-4da1-9bb5-98d423e1cdcb",
              "name": "student_id",
              "value": "={{$json[\"body\"]?.student_id || $json[\"query\"]?.student_id || $json[\"student_id\"] || ''}}",
              "type": "string"
            },
            {
              "id": "5d048ca8-62e3-4f34-9b6c-c630941bb74c",
              "name": "attempt_id",
              "value": "={{$json[\"body\"]?.attempt_id || $json[\"query\"]?.attempt_id || $json[\"id\"] || ''}}",
              "type": "string"
            },
            {
              "id": "ee13cb66-f3a0-42e8-9dce-d5647546a18d",
              "name": "quiz_score",
              "value": "={{$json[\"body\"]?.quiz_score || $json[\"query\"]?.quiz_score || $json[\"quiz_score\"] || ''}}",
              "type": "string"
            },
            {
              "id": "c781ec2a-e8fd-4d24-a177-cb056918aa7c",
              "name": "focus_minutes",
              "value": "={{$json[\"body\"]?.focus_minutes || $json[\"query\"]?.focus_minutes || $json[\"focus_minutes\"] || ''}}",
              "type": "string"
            },
            {
              "id": "de864bae-eecf-4e39-afc2-497814e5ece8",
              "name": "mentor_email",
              "value": "={{$json[\"body\"]?.mentor_email || $json[\"query\"]?.mentor_email || $json[\"mentor_email\"] || 'mentor@local.test'}}",
              "type": "string"
            },
            {
              "id": "9bb387f2-169d-495f-a1fd-6aef9b1a794e",
              "name": "task",
              "value": "={{$json[\"body\"]?.task || $json[\"query\"]?.task || 'Remedial: follow-up'}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "42159749-9406-4b10-a985-48b759359639",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fromEmail": "entizerrocks567@gmail.com",
        "toEmail": "kanugoyal160@gmail.com",
        "subject": "=Student needs intervention — {{$json[\"student_id\"] || 'unknown'}}",
        "html": "=<h2>Intervention Required</h2>\n<p>A student has failed their daily check-in and needs your review.</p>\n<h3>Student information</h3>\n<ul>\n  <li><strong>Student ID:</strong> {{$json[\"student_id\"] || 'unknown'}}</li>\n  <li><strong>Quiz Score:</strong> {{$json[\"quiz_score\"] || 'unknown'}}</li>\n  <li><strong>Focus Minutes:</strong> {{$json[\"focus_minutes\"] || 'unknown'}}</li>\n  <li><strong>Attempt ID:</strong> {{$json[\"attempt_id\"] || $json[\"id\"] || 'unknown'}}</li>\n</ul>\n<h3>Next step (mentor)</h3>\n<p>You can assign <strong>any</strong> task — click the button below to open the intervention assignment page and type the task you want.</p>\n<p>\n  <a href=\"{{ $execution.resumeUrl }}{{ $execution.resumeUrl.includes('?') ? '&' : '?' }}student_id={{ $json.student_id }}&attempt_id={{ $json.attempt_id }}&clicked=1\">Assign Intervention Task</a>\n</p>\n<p>If the button does not open, copy this link into your browser:</p>\n<p style=\"word-break:break-all;\">\n  {{$execution.resumeUrl}}?student_id={{$json.student_id}}&attempt_id={{$json.attempt_id}}&clicked=1\n</p>\n<hr>\n<p>— Intervention Engine — Alcovia</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "a6e962eb-a972-41c0-9c89-3d1b375cba5b",
      "name": "Send email",
      "webhookId": "a9039e1f-4314-4fed-939d-28863c024f38",
      "credentials": {
        "smtp": {
          "id": "TeFh3jU7To5P4iQx",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://artiodactylous-kari-amitotically.ngrok-free.dev/assign-intervention",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-n8n-secret",
              "value": "d842b2ac18e9f086e3b45f5ec0ffa449a78f2bbce9be8ec3"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"student_id\": \"{{$node['Wait'].json?.query?.student_id || $json?.student_id || $json?.body?.student_id || ''}}\",\n  \"attempt_id\": \"{{$node['Wait'].json?.query?.attempt_id || $json?.attempt_id || $json?.body?.attempt_id || ''}}\",\n  \"task\": \"{{$json?.task || 'Remedial follow-up'}}\",\n  \"mentor_id\": \"{{$node['Edit Fields']?.json?.mentor_email || $json?.mentor_id || 'mentor@local.test'}}\"\n}",
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        0
      ],
      "id": "7a59d0b2-49f7-4d72-8339-a48bc23a859a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true,\n  \"reason\": \"mentor_assigned\",\n  \"student_id\": \"={{ $node['Wait'].json.query.student_id || $node['Wait'].json.body?.student_id || '' }}\",\n  \"attempt_id\": \"={{ $node['Wait'].json.query.attempt_id || $node['Wait'].json.body?.attempt_id || '' }}\",\n  \"message\": \"Mentor clicked the link; intervention assignment attempted.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1056,
        0
      ],
      "id": "8076133a-bd3c-45f1-8691-f55461ad4a6b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "resume": "webhook",
        "responseMode": "responseNode",
        "limitWaitTime": true,
        "resumeAmount": 12,
        "resumeUnit": "seconds",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "d3ba9310-3880-4ed8-83a5-20c32a4c5e5c",
      "name": "Wait",
      "webhookId": "523a0756-c375-4f9e-bca1-4ac5b71fe0f5"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "550b81e1-eb48-4e39-b19b-13fdd8b2e21e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc39d691ca9567e0dbb96bd463910a9f68db6d382a12a8a51c9866c9360286a3"
  },
  "id": "6Pykl50qXCEqq3ph",
  "tags": []
}